<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/todomvc-app-css@2.3.0/index.css">

<div id="app">
  <section class="todoapp">
    <header>
      <h1>{{title}}</h1>
    </header>
    <input v-model="newTodo" v-on:keyup.enter="addTodo(newTodo, $event)" type="text" class="new-todo" autofocus placeholder="需要做什麼？" />       
    
    <main class="main" v-show="todos.length" v-bind:hello="message">
      <input v-on:click="handleClick" id="toggle-all" type="checkbox" class="toggle-all"/>
      <label for="toggle-all" ></label>
      <ul class="todo-list">
        <li v-for="todo in todos" :key="todo.id"
        class="todo" :class="{completed: todo.completed}">
          <div class="view">
            <input v-model="todo.completed" class="toggle" type="checkbox"/>
            <label for="">{{todo.title}}</label>
            <button @click="removeTodo(todo)" class="destroy"></button>
          </div>
          <input type="text" class="edit" />
        </li>
      </ul>
    </main>    
    
    <footer class="footer" v-show="todos.length">
      <span class="todo-count"> 
        <strong>{{activeTodos}} / {{getActiveTodos()}}</strong> items left </span>
      <ul class="filters">
        <li>
          <a href="#/all">All</a>
        </li>
        <li>
          <a href="#/active">Active</a>
        </li>
        <li>
          <a href="#/completed">Completed</a>
        </li>
      </ul>
      <button class="clear-completed">
        Clear completed
      </button>
    </footer>
  </section>

</div>



<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"> </script>
<script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"> </script>
<script src="./script.js"> </script>
